$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$formula-info-min-width: 40px;
$table-row-height: 24px;
$table-cell-width: 120px;
$dashboard-header-height: 54px;

$excel-text-color: #888;
$border-color: #c0c0c0;
$input-focus-color: #1a73e8;
$input-color: #000;
$hover-button-color: #eee;

